{% extends "index.html" %}
{% block body %}

<input type="hidden" name="current_user" value={{ current_user.id }}>

<h4>Upload Assignments</h4>


<h6>Details</h6>

<p>Read here to understand more about what will happen here:
<ul>
  <li>Blah blah blah...
  <li>Blah blah blah...
</ul>



<h6>License</h6>
<p>This is something to ask students about how we can use the assignments they upload.</p>
This will not affect your grade in any way, and lecturers won't know your choice before they grade your assignment.  

<form enctype="multipart/form-data" action="{{url_for('report')}}" method="post">

<br>
<select id="license" name="license" required>
<option value="">-- Choose --</option>
<option value="1">I <b>ACCEPT</b> to share my assignment so that it can be used for further research</option>
<option value="0">I <b>DO NOT ACCEPT</b> to share my assignment so that it can be used for further research</option>
</select>




<br>
<br>
<br>
<h6>Upload</h6>

<p>Before the upload takes place, we will provide you with a small report indicating if the syntax of your LMF file seems to be in order.</p>
<p>You can upload or link to any Wordnet LMF file with the following extensions (.xml, .xml.gz).</p>


<p><i class="fa fa-file-archive-o"></i> FILE:<input type="file" name="file" required><input type="submit" value="Validate"></p>
</form>



</body></html>

{% endblock %}
