{% extends "index.html" %}
{% block welcome %}

<!-- <h4> Welcome!</h4> -->

<p>Dear Students</p>

<p>Welcome to the error detection system. Please pay attention to the following important
  instructions before you upload your assignment for checking by the system.</p>


<ul>
  <li>Make sure the student who uploaded your assignment to Turnitin is the same student who uploads the assignment to the error detection system.</li>
  <li>Please sign in using your NTU user name as both user name and password (both in UPPER CASE).</li>
  <li>Only upload your assignment in docx – <strong>NO PDFs</strong>.</li>
  <li> Once you have uploaded your assignment, the system will take about 2-3 minutes to flag down sentences with possible errors. In some cases,
    the system may flag some items as <u>possible</u> errors only. In such cases, you may decide not to take any action.</li>
  <li>Errors highlighted in <span class="seriouserror">RED</span> indicate major errors that almost certainly require changes, while <span class="milderror">YELLOW</span> highlighted errors indicate possible errors which may require changes.</li>
  <li>You can use this system to upload your assignment as many times as you want, progressively addressing any errors flagged by the system. </li>
  <li>If you have any technical problems, please wait a couple hours and try again since too many concurrent uploads might slow down the system to the point of rejection. If the problem persists, email Mr. Kuribayashi at takayuki.k@ntu.edu.sg, including your NTU username and the docx file that you had problems with.</li>
  <!-- <li> </li> -->
</ul>

<hr>



{% if current_user.id %}

<div id="UserPanel">
<h5>User Panel</h5>
    <p><a href="{{ url_for('upload') }}">Upload a new assignment</a></p>
</div>
<hr>
{% endif %}



{% if current_user.group == 'admin' %}
<div id="AdminPanel">
<h5>Admin Panel</h5>
    <p><a href="{{ url_for('useradmin') }}">User Administration</a></p>
    <p><a href="{{ url_for('check_gold') }}">Check Gold database</a></p>
</div>
<hr>
{% endif %}








{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  {% endif %}
{% endwith %}


{% endblock %}
